services:
  neo4j:
    container_name: neo4j
    image: neo4j:latest
    volumes:
      - /$HOME/neo4j/logs:/logs
      - /$HOME/neo4j/config:/config
      - /$HOME/neo4j/data:/data
      - /$HOME/neo4j/plugins:/plugins
    environment:
      - NEO4J_AUTH=neo4j/password
    ports:
      - "7474:7474"
      - "7687:7687"
    restart: always

  backend:
    container_name: backend
    build:
      context: ./backend
    volumes:
      - ./backend/app:/app/app
    ports:
      - "8005:8005"
    depends_on:
      - neo4j
