.search-header {
  display: flex;
  gap: 20px;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 30, 30, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 2px solid #ffffff;
}

.search-arrow {
  font-size: 24px;
  color: #666;
}

.search-container {
  width: 250px;
}

.search-container .MuiAutocomplete-root {
  width: 100%;
}
