#root {
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #1a1a1a;
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-content {
  padding-top: 100px;
  width: 100vw;
  height: calc(100vh - 100px);
  display: block;
}

.help-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  color: #eee;
  text-align: center;
  font-size: 32px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  padding: 20px;
  color: #ffffff;
  border-top: 2px solid #ffffff;
}

.github-logo {
  width: 75px;
  height: 75px;
  height: auto;
  margin-right: 15px;
  filter: brightness(3);
}

.github-logo:hover {
  filter: brightness(2);
}
